{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <h1>Intro</h1>
    <p><a href="#kmom01">Introduktion</a></p>
    <p><a href="#kmom02">Länk till Kmom02</a></p>
    <p><a href="#kmom03">Länk till Kmom03</a></p>
    <p><a href="#kmom04">Länk till Kmom04</a></p>
    <p><a href="#kmom05">Länk till Kmom05</a></p>
    <p><a href="#kmom06">Länk till Kmom06</a></p>
    <article class="article">

    <header>
    <h1>Introduktion</h1>
    </header>

    <section id="kmom01">
    {% apply markdown_to_html %}
    # Codestyle
    
    
    

    {% endapply %}
    </section>

    <section id="kmom02">
    {% apply markdown_to_html %}
    # Kmom02

    {% endapply %}
    </section>

    <section id="kmom03">
    {% apply markdown_to_html %}
    # Kmom03

    {% endapply %}
    </section>

    <section id="kmom04">
    {% apply markdown_to_html %}
    # Kmom04

    {% endapply %}
    </section>

    <section id="kmom05">
    {% apply markdown_to_html %}
    # Kmom05
    

    {% endapply %}
    </section>

    <section id="kmom06"> <!-- Lägg till id-attributet -->
    {% apply markdown_to_html %}
    # Kmom06
    
    Markdown-innehåll för Kmom06.
    {% endapply %}
    </section>

    </article>

    <section>
    <h2>Kmom07-10</h2>
    <p>Här är redovisningstexten</p>
    </section>


    </article>

{% endblock %}