{% extends "base2.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Card Game [START]</h1>

<form method="post" action="">
    <input type="submit" name="do_it" value="Start playing">
</form>

{% endblock %}