{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
    {{ include('flash.html.twig') }}
    <h1>Session Innehåll</h1>
    <pre>{{ dump(sessionData) }}</pre>
{% endblock %}