{% extends "base.html.twig" %}

{% block title %}Intro{% endblock %}

{% block body %}
    <h1>Intro</h1>

    <img src="{{ asset('build/images/Albert_Einstein.jpg') }}" alt="" class="databas">

        <p>
        Einstein dyker ner i programmering
        Albert Einstein, fysikens gigant, tar sig nu an programmeringens utmaningar. 
        Hans skarpa intellekt ser likheter med fysikens logik, men möter nya hinder i syntaxens strikthet.

        Trots motgångar ger Einstein inte upp. Han lär sig av misstag och njuter av den 
        intellektuella stimulansen. Programmering ger honom en ny dimension av kreativitet, 
        att simulera fysik, visualisera data och experimentera med algoritmer.

        Einsteins resa visar att nyfikenhet och vilja att lära sig inte har åldersgränser. 
        Han bevisar att intellektet kan blomstra i alla åldrar och områden.
        </p>
{% endblock %}