{% extends "base.html.twig" %}

{% block title %}Intro{% endblock %}

{% block body %}
    <h1>Intro</h1>
    <p><a href="/report#kmom01">Länk till Kmom01</a></p>
    <p><a href="/report#kmom02">Länk till Kmom02</a></p>
    <p><a href="/report#kmom03">Länk till Kmom03</a></p>
    <p><a href="/report#kmom04">Länk till Kmom04</a></p>
    <p><a href="/report#kmom05">Länk till Kmom05</a></p>
    <p><a href="/report#kmom06">Länk till Kmom06</a></p>
    <article class="article">

    <header>
    <h1>Redovisning av kursmoment i kursen MVC</h1>
    </header>

    <section id="kmom01">
    {% apply markdown_to_html %}
    # Kmom01
    
    Min förkunskaper för objektorienterad programmering kommer från de två tidigare kurser jag läst,
    oopython och databas.

    PHPs modell är lik både python och javascript. Man skapar sin klass med class och gör funktioner 
    inuti den.

    Jag uppfattar kodningen som smidig med symfony och allt är ganska likt både express och liknande.

    Jag vill lära mig från artikeln att kunna optimera användningen av symfony eller liknande ramverk och att
    kunna skriva säker och fin kod.

    Lärt mig mer om php objektorienterad programmering och symfony.

    {% endapply %}
    </section>

    <section id="kmom02">
    {% apply markdown_to_html %}
    # Kmom02
    Man använder extend för att ärva något i php. Har inte riktigt greppat komposition interface och trait ännu.

    Min implementation av uppgiften har varit ganska oklar. Det känns som en väldigt tung uppgift att slänga
    på en som aldrig riktig jobbat objektorienterat med php och är ny till symfony. Har bara utgått från Det
    jag lärt mig från övningen och sedan har jag använt internet för att komma vidare. Det som var med från
    övningen hade jag även svårt att implementera i uppgiften. Så väldigt tung och svår uppgift. Inte en 20
    h kmom.

    TIL hur man använder php ännu mer.
    {% endapply %}
    </section>

    <section id="kmom03"> <!-- Lägg till id-attributet -->
    {% apply markdown_to_html %}
    # Kmom03
    
    Markdown-innehåll för Kmom03.
    {% endapply %}
    </section>

    <section id="kmom04"> <!-- Lägg till id-attributet -->
    {% apply markdown_to_html %}
    # Kmom04
    
    Markdown-innehåll för Kmom04.
    {% endapply %}
    </section>

    <section id="kmom05"> <!-- Lägg till id-attributet -->
    {% apply markdown_to_html %}
    # Kmom05
    
    Markdown-innehåll för Kmom05.
    {% endapply %}
    </section>

    <section id="kmom06"> <!-- Lägg till id-attributet -->
    {% apply markdown_to_html %}
    # Kmom06
    
    Markdown-innehåll för Kmom06.
    {% endapply %}
    </section>

    </article>

    <section>
    <h2>Kmom07-10</h2>
    <p>Här är redovisningstexten</p>
    </section>


    </article>

{% endblock %}